server:
  port: 10020  # 网关端口

spring:
  application:
    name: gateway  # 应用名称
  cloud:
    nacos:
      discovery:
        server-addr: lirendada.art:8848  # Nacos地址
    gateway:
      routes:
        - id: order-service        # 路由id，随便起个名字，不重复即可
          uri: lb://order-service  # 目标服务地址
          predicates:              # 路由条件，这里配置路径匹配，匹配到/order/**、/feign/**的请求都转发到order-service服务
            - Path=/order/**,/feign/**
          filters:
            - AddRequestParameter=userName, lirendada
            - name: Custom
              args:
                name: lirendada
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/product/**
            - After=2026-12-13T14:08:33.643172900+08:00[Asia/Shanghai]
      default-filters:
        - name: Retry
          args:
            retries: 3
            statuses: BAD_GATEWAY

      metrics:
        enabled: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true