server:
  port: 10020

spring:
  cloud:
    gateway:
      routes:
        - id: user-info-service
          uri: lb://user-info-service
          predicates:
            - Path=/user/**
        - id: blog-info-service
          uri: lb://blog-info-service
          predicates:
            - Path=/blog/**
      # 全局跨域配置
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost"
              - "http://127.0.0.1"
              - "http://49.235.136.223"
              - "http://lirendada.art"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true