server:
  port: 10020

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: lirendada.art:8848  # Nacos地址
    gateway:
      routes:
        - id: user-info-service           # 路由id，随便起个名字，不重复即可
          uri: lb://user-info-service  # 目标服务地址
          predicates:
            - Path=/user/**
        - id: blog-info-service
          uri: lb://blog-info-service
          predicates:
            - Path=/blog/**

      # 全局跨域配置
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost"
              - "http://127.0.0.1"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true